<!DOCTYPE HTML>

<html>
  <head>
    <title>Eric Dell'Aringa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>

    <!-- Nav -->
      <nav id="nav">
        <ul class="container">
          <li><a href="#top">Top</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

    <!-- Home -->
      <div class="wrapper style1 first">
        <article class="container" id="top">
          <div class="row">
            <div class="4u 12u(mobile)">
              <span class="image fit"><%= image_tag "DBC_hi.jpg" %></span>
            </div>
            <div class="8u 12u(mobile)">
              <header>
                <h1>Hi. I'm <strong>Eric Dell'Aringa</strong>.</h1>
              </header>
              <p>I'm a <strong>full stack web developer</strong> living in San Francisco.  Before making the change to web development I worked as a Civil Engineer.  Outside of coding or tackling difficult problems, I love puzzles, fantasy novels, E-Sports, and gaming. </p>
              <a href="#work" class="button big scrolly">Here's what I can do</a>
            </div>
          </div>
        </article>
      </div>

    <!-- Work -->
      <div class="wrapper style2">
        <article id="work">
          <header>
            <h2>Skills and interests</h2>
            <p>Here is a list of some of my many skills and interests.  It seems to grow everyday.</p>
          </header>
          <div class="container">
            <div class="row">

              <div class="4u 12u(mobile)">
                <section class="box style1">
                  <span class="icon featured fa-thumbs-o-up"></span>
                  <h3>Skills</h3>
                  <ul>
                    <li>Ruby</li>
                    <li>Rails</li>
                    <li>Sinatra</li>
                    <li>ActiveRecord</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>Meteor</li>
                    <li>Microstation</li>
                  </ul>
                </section>
              </div>
              <div class="4u 12u(mobile)">
                <section class="box style1">
                  <span class="icon featured fa-comments-o"></span>
                  <h3>Strategies</h3>
                  <ul>
                    <li>Agile Development</li>
                    <li>Test Driven Development</li>
                    <li>Project Management</li>
                    <li>Engineering Empathy</li>
                  </ul>
                </section>
              </div>
              <div class="4u 12u(mobile)">
                <section class="box style1">
                  <span class="icon featured fa-heart-o"></span>
                  <h3>Awesome Stuff I like</h3>
                  <ul>
                    <li>E-Sports</li>
                    <li>Gaming</li>
                    <li>Puzzles</li>
                    <li>Fantasy Novels</li>
                    <li>New Music</li>
                    <li>And well...</li>
                    <li>Coding</li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
          <footer>
            <p>Interested in how I've applied these skills and interests?</p>
            <a href="#portfolio" class="button big scrolly">Check out my portfolio</a>
          </footer>
        </article>
      </div>

    <!-- Portfolio -->
      <div class="wrapper style3">
        <article id="portfolio">
          <header>
            <h2>Projects</h2>
            <p>I like to tinker and create things.  It's one of the reasons I've gotten into web development.  Check out some fun projects I've built.</p>
          </header>
          <div class="container">
            <div class="row">
              <!-- ESPORTAL -->
              <div class="4u 12u(mobile)">
                <article class="box style2">
                  <a href="http://esportal.herokuapp.com" class="image featured"><%= image_tag "esportal.png" %></a>
                  <h3><a href="#">ESPORTAL</a></h3>
                  <p class="active">Serving as the project lead and utilizing agile development; we created this rails application.  The project was completed in just over a week and makes tracking of e-sports tournaments easy by providing users a way to filter and see upcoming tournaments for different games. It allows users to subscribe to a tournament they are interested in by adding it to their personal google calendar in one click.</p>
                </article>
              </div>
              <!-- GIF-tly -->
              <div class="4u 12u(mobile)">
                <article class="box style2">
                  <a href="#" class="image featured"><%= image_tag "GIF-tly.png" %></a>
                  <h3><a href="#">GIF-tly</a></h3>
                  <p> A web application on the sinatra framework, accomplished using the Giphy and Twilio API. This project allows a user to send holiday text messages to another user's phone. This text message would include a holiday greeting attached with a holiday GIF.</p>
                </article>
              </div>
              <!-- miniQuery -->
              <div class="4u 12u(mobile)">
                <article class="box style2">
                  <a href="#" class="image featured"><%= image_tag "miniQuery.png" %></a>
                  <h3><a href="#">miniQuery</a></h3>
                  <p> Recreated elements of jQuery using JavaScript.  Including promises to perform AJAX requests, selector, hiding/showing elements and changing classes. </p>
                </article>
              </div>
              <!-- miniQuery end -->
            </div>
          </div>
          <footer>
            <p>Looking to reach me?</p>
            <a href="#contact" class="button big scrolly">Contact me</a>
          </footer>
        </article>
      </div>

    <!-- Contact -->
      <div class="wrapper style4">
        <article id="contact" class="container 75%">
          <header>
            <h2>Contact</h2>
            <p>Want to chat? </p>
          </header>
          <div>
            <div class="row">
              <div class="12u">

                <%= form_tag ('/contacts') do %>
                <!-- <form method="post" action="/contacts" enctype="text/plain" > -->
                  <div>
                    <div class="row">
                      <div class="6u 12u(mobile)">
                        <input type="text" name="name" id="name" placeholder="Name" />
                      </div>
                      <div class="6u 12u(mobile)">
                        <input type="text" name="email" id="email" placeholder="Email" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="12u">
                        <input type="text" name="subject" id="subject" placeholder="Subject" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="12u">
                        <textarea name="message" id="message" placeholder="Message"></textarea>
                      </div>
                    </div>
                    <div class="row 200%">
                      <div class="12u">
                        <ul class="actions">
                          <li><input type="submit" value="Send Message" /></li>
                          <li><input type="reset" value="Clear Form" class="alt" /></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                <!-- </form> -->
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="12u">
                <hr />
                <h3>Find me on ...</h3>
                <ul class="social">
                  <li><a href="https://www.facebook.com/eric.dellaringa" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="https://www.linkedin.com/in/eric-dell-aringa-65b3a537" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                  <li><a href="https://github.com/edella2" class="icon fa-github"><span class="label">Github</span></a></li>
                </ul>
                <hr />
              </div>
            </div>
          </div>
          <footer>
            <ul id="copyright">
              <li>&copy; Eric Dell'Aringa. All rights reserved.</li>
            </ul>
          </footer>
        </article>
      </div>

  </body>
</html>
